::selection {
  background: $yellow;
}

a {
  color: $grafiteColor;

  &:hover {
    color: $yellow;
  }
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  color: #dab40e;
  text-align: center;
  text-transform: uppercase;
  margin: 1.5em 0;
  text-shadow: 1px 1px 1px #3b3b3b;
}

h3 {
  margin: 2em 0 1.5em;
  font-size: 1.5em;
  font-weight: 700;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.8em;
}

h6 {
  font-size: 0.4em;
}

em {
  font-style: italic;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

a:hover {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

button {
  background: none;
  border: 0;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  &:focus {
    outline: 0;
  }
}

.so_section2,
.so_section3,
.so_section4,
.so_section5,
.so_section6,
.so_section7,
.so_details_section1 {
  padding: 2em 15px 1.5em;
  max-width: 1440px;
  margin: 0 auto;
}

.so_section3 {
  ul {
    margin: 2em auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 240px));
    justify-content: space-evenly;
    align-items: center;
    grid-gap: 1em;

    li {
      display: flex;
      justify-content: center;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: $b_radius;
      width: 170px;
      height: 170px;
      padding: $padding;
      text-decoration: none;
      justify-content: space-evenly;
      text-align: center;

      &:hover,
      &:focus {
        box-shadow: 0 0px 4px 0 rgba(240, 196, 9, 0.25);
        outline: 0;
      }

      p {
        color: #3b3b3b;
        margin-bottom: 15px;
        display: none;
      }

      img {
        max-width: 100px;
      }
    }
  }
}

#scrollTop {
  opacity: 0;
  position: fixed;
  bottom: 15px;
  width: 0;
  height: 0;
  right: 15px;
  z-index: 99;
  font-size: 1em;
  border: none;
  box-shadow: 0 8px 26px 0 rgba(77, 42, 23, 0.16);
  color: white;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.5s;
  outline: none;

  &.active {
    width: 50px;
    height: 50px;
  }

  &.active:hover,
  &.active:focus {
    opacity: 1 !important;
  }
}

main {
  padding-top: 80px;
}

.underlined {
  background-image: linear-gradient(to bottom, transparent 50%, $yellow 50%);
  background-repeat: repeat-x;
  background-size: 100px 0.3em;
  background-position: 0 100%;
}

.fade_in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade_in.appear {
  opacity: 1;
}

.modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(59, 59, 59, 0.9);

  .modal-dialog {
    min-height: unset;
    max-width: unset;
    height: 90%;
    width: 90%;
    margin: 1.75rem auto;

    .modal-content {
      border-radius: 0;
      outline: unset;
      box-shadow: none;
      background: transparent;
      border: 0;
      height: 100%;

      .close {
        align-self: center;
        cursor: pointer;
        padding: 0;
        margin: 10px;
        position: absolute;
        color: $yellow;
        font-weight: 400;
        font-size: 1em;
        width: 100%;
        top: 0;
        z-index: 1;
        text-shadow: none;
      }

      .carousel {
        height: 100%;
      }

      .carousel-inner {
        height: 100%;

        .carousel-item {
          height: 100%;
          img {
            width: 100%;
            object-fit: contain;
            height: 100%;
          }
        }
      }

      .carousel-control-next {
        svg {
          transform: rotate(180deg);
        }
      }

      .carousel-control-next,
      .carousel-control-prev {
        width: unset;

        svg {
          padding: 10px;
          border: 1px solid $yellow;
          border-radius: 50px;
        }
      }
    }
  }
}

.zoomD {
  width: 600px;
  height: auto;
  cursor: pointer;
}

/* [LIGHTBOX] */
#lb-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.85);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}
#lb-back.show {
  visibility: visible;
  opacity: 1;
}
#lb-img {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  img {
    height: 90%;
    object-fit: contain;
    width: 90%;
  }
}
