.so_details_section1 {
  padding: 3.5em 15px;
  text-align: center;

  p {
    margin: 2em 0;
  }

  & > img {
    display: block;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    &:first-child {
      max-width: 200px;
      box-shadow: none;
      height: auto;
    }
  }

  .cataloghi {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0.5em 1em;
    position: relative;

    img {
      max-width: 150px;
      width: 100%;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(240, 196, 9, 0.25);
      outline: 0;
      border-radius: 10px;
      transition: all 0.5s;
    }

    &:hover {
      color: $grafiteColor;
    }

    span {
      position: absolute;
      font-size: 9px;
      text-align: right;
      width: 71px;
      right: 6px;
      top: 112px;
      line-height: 12px;
      transition: all 0.5s;
      font-weight: 600;
    }
  }
}
