header {
  padding: 10px $padding;
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 4;
  transition: $transition;
  box-shadow: $box_shadow;
  top: 0;

  &.scroll {
    padding: 7px 15px;

    & img {
      max-width: 120px;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    max-width: 150px;
    transition: $transition;
  }

  ul {
    display: flex;
  }

  li {
    margin: 0 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    text-transform: capitalize;
    font-size: 16px;
    color: $grafiteColor;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 1px;
      display: block;
      margin-top: 5px;
      right: 0;
      transition: $transition;
    }

    &:hover,
    &:focus {
      color: $yellow;
      outline: 0;
    }

    &:hover::after,
    &:focus::after {
      width: 100%;
      left: 0;
      background: $yellow;
    }
  }

  #burger_menu {
    cursor: pointer;
    display: none;

    .line {
      display: block;
      width: 20px;
      height: 1px;
      margin: 5px 0;
      background-color: $grafiteColor;
      transition: $transition;
    }

    &.active {
      .line:first-child {
        @include transform(6px, 45deg);
      }

      .line:nth-child(2) {
        opacity: 0;
        visibility: hidden;
      }

      .line:last-child {
        @include transform(-6px, -45deg);
      }
    }
  }
}

aside {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  transition: all 0.5s ease-out, background 1s ease-out;
  transition-delay: 0.2s;
  z-index: 3;

  &.active {
    height: 100%;
    background-color: #fff;
    transition: all 0.3s ease-in, background 0.5s ease-in;
    transition-delay: 0.25s;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
  }

  li {
    margin: 20px;
  }

  a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: $grafiteColor;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 1px;
      display: block;
      margin-top: 5px;
      right: 0;
      transition: $transition;
    }

    &:hover,
    &:focus {
      color: $yellow;
      outline: 0;
    }

    &:hover::after,
    &:focus::after {
      width: 100%;
      left: 0;
      background: $yellow;
    }
  }
}
