@media (max-width: 1024px) {
  .so_section2 {
    h2 {
      margin: 0;
    }
  }

  .so_section2,
  .so_section3,
  .so_section4 {
    div {
      flex-wrap: wrap;
      text-align: center;

      p {
        padding: 0;
        transform: translateX(-50%);
      }

      img {
        transform: translateX(-25%);
        margin-top: $defMargin;
        max-width: none;
        width: 100%;
        border-radius: $b_radius;
      }
    }
  }

  .so_section4 {
    div {
      p {
        order: 2;
      }

      img {
        order: 1;
      }
    }
  }
}

@media (max-width: 768px) {
  #scrollTop.active {
    width: 40px;
    height: 40px;
  }

  header {
    #burger_menu {
      display: block;
    }

    ul {
      display: none;
    }
  }

  .so_section3 {
    ul {
      grid-template-columns: repeat(auto-fit, minmax(100px, 140px));
      grid-gap: 15px;
      justify-content: center;

      a {
        width: 140px;
        height: 140px;
        box-shadow: 0 0 4px 0 rgba(240, 196, 9, 0.25);
      }
    }
  }

  .so_section4 {
    div:last-child {
      justify-content: center;
    }
  }

  .so_section5 {
    ul {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }

  #lb-img {
    img {
      height: 350px;
    }
  }
}

@media (max-width: 700px) {
  .so_section5 {
    ul {
      li {
        margin: 1em 0;
      }

      img {
        max-width: 500px;
        height: 250px;
      }
    }
  }

  .so_section7 {
    & > div {
      & > div:first-child,
      div:last-child {
        flex: 100%;
      }
    }

    #map {
      margin-top: $padding;
    }
  }
}

@media (max-width: 480px) {
  .carousel-control-next,
  .carousel-control-prev {
    top: unset;
  }
  .so_section1 h1 {
    font-size: 2em;
  }
  .so_section4 {
    div:last-child {
      grid-template-columns: 1fr;

      article.card {
        width: auto;
      }
    }
  }

  .so_section6 {
    article {
      width: 100%;
      margin: 0;
    }
  }

  .so_section7 {
    form {
      div {
        display: block;
      }
    }
  }
}

@media (max-width: 345px) {
  .so_details_section1 {
    a {
      img {
        height: 175px;
      }

      span {
        top: 90px;
      }
    }
  }
}
