.so_section2,
.so_section4 {
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      padding-right: $padding;
      max-width: 700px;
      margin: 1em auto;
      transform: translateX(-50%);
    }

    img {
      max-width: 450px;
      width: 100%;
      border-radius: 10px;
      transform: translateX(50%);
      height: 280px;
      object-fit: cover;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }

    p,
    img {
      transition: transform 500ms ease-in;
    }

    p.appear,
    img.appear {
      transform: translateX(0);
    }
  }
}
