.so_section5 {
  margin-bottom: 2em;

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2em;

    li {
      a {
        text-align: center;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;

        h4 {
          color: $grafiteColor;
          position: absolute;
          top: 0;
          width: 100%;
          padding: 0.5rem 0;
          background-color: rgba(255, 255, 255, 0.9);
          text-align: center;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #3b3b3b;
          border-top-left-radius: $b_radius;
          border-top-right-radius: $b_radius;
          box-shadow: 0 1px 2px -2px $grafiteColor;
        }

        svg {
          margin-top: 10px;
        }
      }
    }

    img {
      object-fit: cover;
      height: 250px;
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 0 4px 0 $grafiteColor;
    }
  }
}
