.so_section1 {
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
  color: white;
  padding: $padding;

  .background {
    background-image: url('../images/IMMAGINE-SITO.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    // animation: 5s fade infinite;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-color: rgba(59, 59, 59, 0.4);
  }

  h1 {
    position: relative;
    top: 30px;
    font-size: 3em;
    line-height: 1.2em;

    span:not(.underlined) {
      font-weight: 700;
    }
  }

  p {
    position: relative;
    top: 40px;
  }
}

// @keyframes fade {
//   0% {
//     opacity: 0;
//   }
//   50% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }
