.so_section7 {
  & > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

    & > div:first-child,
    div:last-child {
      flex: 1;
    }
  }

  svg {
    margin-top: 20px;
  }

  #map {
    height: 500px;
    margin-bottom: 2em;
  }

  .social {
    display: flex;
    justify-content: center;

    a {
      margin: 15px;
    }
  }

  form {
    max-width: 750px;
    width: 100%;
    margin: 1em auto;

    div:not(.checkbox) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;
      align-items: center;
      justify-content: space-between;
    }

    p {
      font-size: 0.6em;
    }

    label {
      position: relative;
      display: block;
      width: 100%;
      min-height: 45px;
      margin: 1em 0;
    }
    label:nth-child(3) {
      height: 170px;
    }
    .placeholder {
      position: absolute;
      display: block;
      top: 23px;
      z-index: 2;
      font-size: 16px;
      transition: all 200ms ease-in-out;
      width: 100%;
      cursor: text;
    }
    input,
    textarea {
      position: absolute;
      top: 15px;
      z-index: 1;
      width: 100%;
      font-size: 16px;
      border: 0;
      border-bottom: 1px solid grey;
      transition: border-color 200ms ease-in-out;
      outline: none;
      padding: 0;
      margin: 0;
    }
    input[type='submit'] {
      position: relative;
      background-color: $yellow;
      border-radius: $b_radius;
      cursor: pointer;
      color: $grafiteColor;
      text-decoration: none;
      text-shadow: 0px 1px 0px $yellow;
      max-width: 350px;
      width: 100%;
      margin: 1em auto;
      display: block;

      &:hover {
        box-shadow: 0px 10px 14px -7px $yellow;
      }
    }
    textarea {
      min-height: 30px;
      padding: 8px 0;
    }
    input {
      height: 30px;
    }
    input:focus,
    input:valid,
    textarea:focus,
    textarea:valid {
      border-bottom: 2px solid $yellow;
    }
    input:focus + .placeholder,
    input:valid + .placeholder,
    textarea:focus + .placeholder,
    textarea:valid + .placeholder {
      top: 0;
      cursor: inherit;
      font-size: 14px;
      color: $yellow;
    }

    div.checkbox {
      label {
        cursor: pointer;

        span {
          font-size: 12px;
          line-height: 16px;
        }

        span:first-child {
          margin-left: 30px;
        }

        a {
          font-size: 12px;
          line-height: 16px;
          color: $yellow;
        }
      }
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        background-color: transparent;
        border: 1px solid #3b3b3b;
      }

      input:checked ~ .checkmark {
        background-color: #3b3b3b;
      }

      .checkmark:after {
        content: '';
        position: absolute;
        display: none;
      }

      input:checked ~ .checkmark:after {
        display: block;
      }

      .checkmark:after {
        left: 4px;
        top: 0px;
        width: 5px;
        height: 10px;
        border: solid #f0c409;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }
}
