.so_section4 {
  & > div {
    margin: 2em 0;
  }
  ul {
    list-style: initial;
    padding: 30px;
    transform: translateX(-50%);
    transition: $transition;

    &.appear {
      transform: translateX(0);
    }

    li {
      padding: $padding 0;
    }
  }
}
