.so_section6 {
  div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 330px));
    justify-content: space-evenly;
    align-items: center;
    grid-gap: 20px;
  }

  article {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin: 15px;
    overflow: hidden;
    height: 540px;
    position: relative;

    div:last-child {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  h4,
  p {
    padding: 15px 15px 0;
  }

  img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
}
