.so_section3 {
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em auto;
    flex-wrap: wrap;

    p {
      padding-right: $padding;
      max-width: 500px;
      margin: 1em auto;
      transform: translateX(-25%);
    }

    img {
      max-width: 450px;
      width: 100%;
      border-radius: 10px;
      transform: translateX(25%);
    }

    p,
    img {
      transition: transform 500ms ease-in;
    }

    p.appear,
    img.appear {
      transform: translateX(0);
    }
  }
}
