$grafiteColor: #3b3b3b;
$yellow: #f0c409;
$transition: all 0.5s ease-in-out;
$box_shadow: 0 8px 26px 0 rgba(77, 42, 23, 0.16);
$padding: 15px;
$defMargin: 0.75em;
$b_radius: 10px;
@mixin transform($translate, $rotate) {
  transform: translateY($translate) rotate($rotate);
}
